@model BasketItem

@{
    ViewData["Title"] = "Details";
    var priceFormat = $"{Model.Vaccine.Price,0:C0}";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Basket" asp-action="AddToCart">
    <input asp-for="Vaccine.Id" type="hidden">
    <a asp-action="Index" class="btn btn-outline-primary my-3">Back to home</a>
    <div class="row">
        <div class="col">
            <h2 class="text-gradient">@Model.Vaccine.Name</h2>
            <h5 class="mb-3">by @Model.Vaccine.ManufacturingCountry</h5>
            <span class="category-label">@Model.Vaccine.Type!.Name</span>


            <div class="my-3 row">
                <div class="col-3 fs-3 pe-0 text-success">
                    Price
                </div>
                <div class="col-3 fs-3 p-0 text-success">
                    @priceFormat
                </div>
            </div>


            <div class="align-items-center d-flex">
                <label asp-for="Count" class="fs-5 pe-5"></label>
                <div class="input-group" style="width: 130px;">
                    <a class="input-group-text text-decoration-none" onclick="countMinus()" style="cursor: pointer">
                        <i class="fa-light fa-minus"></i>
                    </a>
                    <input asp-for="Count" class="form-control fw-semibold" onblur="validateInput()">
                    <a class="input-group-text text-decoration-none" onclick="countPlus()" style="cursor: pointer">
                        <i class="fa-light fa-plus"></i>
                    </a>
                </div>
            </div>

            <p class="mt-3">Expiration Date: @Model.Vaccine.ExpirationDate</p>

            <button class="button-gradient fw-semibold py-2 text-uppercase" type="submit">
                <i class="fa-cart-plus fa-solid me-2"></i>
                Add to cart
            </button>

        </div>
    </div>
</form>

@section Scripts {
    <script>
    const count = $("#Count");

    function countPlus() {
        const curCount = count.val()
        count.val(+curCount + 1)
    }

    function countMinus() {
        const curCount = count.val()
        if (curCount > 1) {
            count.val(+curCount - 1)
        }
    }

    function validateInput() {
        const curCount = count.val()

        if (curCount < 0)
            count.val(1)

        if (curCount > 999)
            count.val(999)
    }
    </script>
}